<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sensingKit" version="0.2.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>SensingKit</name>
	<author>Kevin Glover</author>
	<description>A Multi-Platform Mobile Sensing Framework for Large-Scale Experiments</description>
	<license>MIT License</license>
	<js-module name="SensingKit" src="www/SensingKit.js">
		<clobbers target="cordova.plugins.SensingKit" />
		<clobbers target="SensingKit" />
	</js-module>
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission
				android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="SensingKit">
				<param name="android-package" value="uk.ac.nott.mrl.sensingKit.SensingKit" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<framework src="org.nanohttpd:nanohttpd-webserver:2.3.1" />
		<framework src="com.google.android.gms:play-services-location:11.0.1" />
		<framework src="com.squareup.okhttp3:okhttp:3.9.0" />
		<framework src="org.altbeacon:android-beacon-library:2.12.2"/>
		<framework src="src/android/sensingKit.gradle" custom="true" type="gradleReference" />

		<resource-file src="libs/SensingKitLib-release.aar"
			target="libs/SensingKitLib-release.aar" />
		<source-file src="src/android/SensingKit.java" target-dir="src/uk/ac/nott/mrl/sensingKit" />
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="SensingKit">
				<param name="ios-package" value="SensingKit" />
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
			<string>Shouldn't be requested. Not actually used. Just supported by sensorskit library</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
			<string>Shouldn't be requested. Not actually used. Just supported by sensorskit library</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSMotionUsageDescription">
			<string>Motion data sent to Databox</string>
		</config-file>
		<dependency id="cordova-plugin-swift-support" spec="~3.1.1" />
		<framework src="SensingKit" type="podspec" spec="" />
		<source-file src="src/ios/SensingKit.swift" />
		<header-file src="src/ios/SensingKit-Bridging-Header.h"/>
	</platform>
</plugin>
